{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": "htmlacademy/node",
  "rules": {
    "quotes": ["error", "single", { "allowTemplateLiterals": true }]
  }
}
