.promo-card {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.promo-card__inner {
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  height: 100%;
  overflow: hidden;
}

.promo-card__image {
  opacity: 0.1;
  position: absolute;
  width: auto;
  height: 100%;

  @media (min-width: breakpoint(desktop)) {
    width: 100%;
    height: auto;
  }
}

.promo-card__info {
  position: relative;
  padding: rem(50, 30);
  margin: 0 0 0 rem(50);
  z-index: z-index(default);
  align-self: center;

  @media (min-width: breakpoint(tablet)) {
    padding: rem(65, 50);
  }

  @media (min-width: breakpoint(desktop)) {
    margin: 0 0 0 rem(300);
    padding: rem(80, 50);
    max-width: breakpoint(desktop);
  }
}

.promo-card__title {
  margin: 0 0 0.5em 0;
  padding: 0;

  white-space: pre-line;

  @include font-par(font-family(default), font-weight(bold), font-size(h1-m), normal, color($main-c, primary), font-lh(root));

  @include fluid-type(font-size(h2-m), font-size(h1-d));
}

.promo-card__subtitle {
  display: block;
  margin: 0 0 0.1em 0;
  padding: 0;

  white-space: pre-line;

  @include font-par(font-family(default), font-weight(bold), font-size(h3-m), normal, color($base-c, white), 1.5);

  @include fluid-type(font-size(h3-m), font-size(h3-d));
}
