@keyframes mainHeader {
  100% {
    top: 0;
  }
}

.main-header {
  margin: 0;
  padding: 0;

  background-color: rgba(color($main-c, header), 1);
}

.main-header--sticky {
  position: fixed;
  top: -10%;
  left: 0;
  width: 100%;
  z-index: z-index(header);
  animation-name: mainHeader;
  animation-timing-function: ease-in-out;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-duration: 0.2s;
}

.main-header__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: rem(80);
  margin: 0;
  padding: rem(20, 30);

  @media (min-width: breakpoint(tablet)) {
    padding: rem(30, 50);
    min-height: rem(149);
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  @media (min-width: breakpoint(desktop)) {
    padding: rem(30, 0);
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.main-header__navigation {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  position: fixed;
  top: 20%;
  left: 100%;
  z-index: z-index(navbar);
  transform: translate(0, -20%);
  transition:
    left 0.3s ease-in-out,
    top 0.3s ease-in-out,
    transform 0.3s ease-in-out;

  @media (min-width: breakpoint(tablet)) {
    margin: 0;
    padding: 0;
    width: 70%;
    display: block;
    position: static;
    transform: translate(0, 0);
  }
}

.main-header__logo {
  z-index: z-index(logo);
  display: block;
  flex-shrink: 0;
}
