.contact {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: color($main-c, pattern);

  @media (min-width: breakpoint(tablet)) {
    min-height: 100vh;
    width: 100%;
  }
}

.contact__inner {
  padding: rem(35, 30, 0, 30);
  margin: 0 auto;
  position: relative;
  z-index: z-index(dropdown);
  overflow: hidden;

  @media (min-width: breakpoint(tablet)) {
    padding: rem(50, 50, 0, 50);
  }

  @media (min-width: breakpoint(desktop)) {
    padding: rem(70, 50, 0, 50);
    max-width: 1150px;
  }
}

.contact__inner::before {
  content: '';
  position: absolute;
  width: 300px;
  height: 300px;
  top: -130px;
  left: rem(30);
  opacity: 0;
  background-image: url("../img/svg/bubble-pattern.svg");
  background-repeat: no-repeat;
  background-size: 300px 300px;
  transform: scaleY(-1);
  transition: all 0.3s ease-in-out;

  @media (min-width: breakpoint(tablet)) {
    opacity: 1;
  }

  @media (min-width: breakpoint(desktop)) {
    opacity: 1;
  }
}

.contact__title {
  margin: 0 0 0.7em 0;
  padding: 0;
  white-space: pre-line;
  text-align: center;

  @include font-par(font-family(default), font-weight(bold), font-size(h2-m), normal, color($base-c, white), font-lh(root));

  @include fluid-type(font-size(h2-m), font-size(h2-d));

  @media (min-width: breakpoint(tablet)) {
    text-align: right;
  }

  @media (min-width: breakpoint(desktop)) {
    margin-bottom: rem(50);
  }
}

.contact__subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin: 0 0 rem(10);
  padding: 0;

  @include font-par(font-family(default), font-weight(bold), font-size(base-d), normal, color($main-c, primary), font-lh(root));

  @include fluid-type(font-size(base-d), font-size(h3-m));
}

.contact__list {
  width: 100%;
  display: block;
  background-color: transparent;
  transition: all 0.3s ease-in-out;

  @include clear-list();

  margin-bottom: 40px;

  @include font-par(font-family(default), font-weight(normal), font-size(base-m), normal, color($main-c, primary), font-lh(root));

  @include fluid-type(font-size(base-m), font-size(base-d));

  @media (min-width: breakpoint(tablet)) {
    width: auto;
    margin: 0 0 40px 0;
    display: grid;
    justify-items: start;
    align-items: start;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto auto;
    grid-column-gap: rem(30);
  }
}

.contact__item {
  position: relative;
  padding: 0;
  margin: rem(0, 0, 20, 0);
  background-color: transparent;
  transition: all 0.3s ease-in-out;

  @media (min-width: breakpoint(tablet)) {
    margin: 0;
    width: 100%;
  }

  @media (min-width: breakpoint(desktop)) {
    margin: rem(0, 0, 20, 0);
  }

  &:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

.contact__item:last-child {
  @media (min-width: breakpoint(desktop)) {
    margin: 0;
  }
}

.contact__sublist {
  width: 100%;
  display: block;
  background-color: transparent;

  @include clear-list();
  padding: 0 0 0 rem(10);

  @include font-par(font-family(default), font-weight(normal), font-size(root), normal, color($base-c, white), font-lh(root));

  @include fluid-type(font-size(root), font-size(root));
}

.contact__subitem {
  position: relative;
  padding: rem(0, 0, 0, 20);
  margin: rem(0, 0, 10, 0);
  background-color: transparent;

  @media (min-width: breakpoint(tablet)) {
    margin: rem(0, 0, 15, 0);
  }

  @media (min-width: breakpoint(desktop)) {
    margin: rem(0, 0, 20, 0);
  }

  &::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: color($main-c, primary);
  }
}

.contact__item:last-child {
  @media (min-width: breakpoint(desktop)) {
    margin: 0;
  }
}

.contact__link {
  position: relative;
  margin: 0;
  padding: 0;

  @include font-par(font-family(default), font-weight(normal), font-size(root), normal, color($base-c, white), font-lh(root));

  @include fluid-type(font-size(root), font-size(root));

  &:active {
    opacity: 0.7;
  }

  &::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    max-height: 0;
    background-color: rgba(color($main-c, primary), 1);
    transition: all 0.2s ease-in-out;
    z-index: z-index(behind);
  }
}

.contact__link:focus,
.contact__link:hover {
  &::before {
    max-height: 100%;
  }
}

.contact__info {
  padding: 0;
  margin: 0;
  display: block;
}

.contact__svg {
  padding: 0;
  margin: 0 rem(10) 0 0;
  display: block;
}

.contact__main-map {
  @media (min-width: breakpoint(tablet)) {

  }
}
