.contact {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: color($base-c, black);
  background-image: url("../img/svg/note-pattern.svg");
  background-repeat: repeat;
  background-size: 100px;
}

.contact__inner {
  padding: rem(35, 30);
  margin: 0 auto;

  @media (min-width: breakpoint(tablet)) {
    padding: rem(50, 50);
  }

  @media (min-width: breakpoint(desktop)) {
    padding: rem(70, 50);
    max-width: 1150px;
  }
}

.contact__title {
  margin: 0;
  padding: 0;

  white-space: pre-line;

  @include font-par(font-family(default), font-weight(bold), font-size(h2-m), normal, color($main-c, primary), font-lh(root));

  @include fluid-type(font-size(h2-m), font-size(h2-d));
}
