.menu {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: color($main-c, background);
}

.menu__inner {
  padding: rem(35, 30);
  margin: 0 auto;

  @media (min-width: breakpoint(tablet)) {
    padding: rem(50, 50);
  }

  @media (min-width: breakpoint(desktop)) {
    padding: rem(70, 50);
    max-width: 1150px;
  }
}

.menu__title {
  margin: 0 0 0.5em 0;
  padding: 0;

  white-space: pre-line;

  @include font-par(font-family(default), font-weight(bold), font-size(h2-m), normal, color($main-c, primary), font-lh(root));

  @include fluid-type(font-size(h2-m), font-size(h2-d));
}

.menu__list {
  @include clear-list();

  width: 100%;
  display: flex;
  flex-shrink: 0;
  flex-basis: auto;
  flex-direction: column;
  background-color: transparent;

  @media (min-width: breakpoint(tablet)) {
    flex-direction: row;
  }
}

.menu__item {
  padding: 0;
  margin: 0;
  width: 100%;
}


.menu-card {
  margin: 0;
  padding: 0;
}

.menu-card__inner {
  padding: rem(20, 30);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: color($base-c, black);
  transition: all 0.3s ease-in-out;

  @include font-par(font-family(default), font-weight(normal), font-size(base-m), normal, color($base-c, white), font-lh(root));

  @include fluid-type(font-size(base-m), font-size(base-d));

  @media (min-width: breakpoint(desktop)) {
    padding: rem(20, 30);
    max-width: 400px;
  }

  &:focus,
  &:hover {
    transform: translateY(-5px);
    box-shadow:
      0 0 0 3px color($main-c, primary),
      0 10px 70px 0 rgba(color($main-c, primary), 0.15);
  }
}

.menu-card__title {
  margin: 0;
  padding: 0;

  white-space: pre-line;

  @include font-par(font-family(default), font-weight(bold), font-size(h3-m), normal, color($base-c, white), font-lh(root));

  @include fluid-type(font-size(h3-m), font-size(h3-d));
}
