.menu {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: color($main-c, background);
}

.menu__inner {
  padding: rem(35, 30);
  margin: 0 auto;

  @media (min-width: breakpoint(tablet)) {
    padding: rem(50, 50);
  }

  @media (min-width: breakpoint(desktop)) {
    padding: rem(70, 50);
    max-width: 1150px;
  }
}

.menu__title {
  margin: 0 0 0.7em 0;
  padding: 0;

  white-space: pre-line;

  @include font-par(font-family(default), font-weight(bold), font-size(h2-m), normal, color($base-c, white), font-lh(root));

  @include fluid-type(font-size(h2-m), font-size(h2-d));

  @media (min-width: breakpoint(desktop)) {
    margin-bottom: rem(50);
  }
}

.menu__list {
  @include clear-list();

  width: 100%;
  display: flex;
  flex-shrink: 0;
  flex-basis: auto;
  flex-direction: column;
  background-color: transparent;
  align-items: center;

  @media (min-width: breakpoint(tablet)) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: breakpoint(desktop)) {
    flex-direction: row;
    justify-content: center;
  }
}

.menu__item {
  padding: 0;
  margin: 0;
  width: 260px;
  height: 250px;
  transition: 0.3s ease-in-out;

  @media (min-width: breakpoint(tablet)) {
    width: 100%;
    max-width: 320px;
    height: auto;
    max-height: 350px;
  }

  @media (min-width: breakpoint(desktop)) {
    width: 45%;
  }
}

.menu__item:not(:last-child) {
  margin-bottom: 20px;

  @media (min-width: breakpoint(tablet)) {
    margin-bottom: 0;
  }

  @media (min-width: breakpoint(desktop)) {
    margin-right: 20px;
  }
}

.menu-card {
  margin: 0;
  padding: 0;
  height: 100%;
}

.menu-card__inner {
  position: relative;
  padding: rem(20, 30);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: color($base-c, black);
  transition: all 0.3s ease-in-out;
  box-shadow: inset 0 0 0 3px color($main-c, primary);
  overflow: hidden;

  @include font-par(font-family(default), font-weight(normal), font-size(base-m), normal, color($base-c, white), font-lh(root));

  @include fluid-type(font-size(base-m), font-size(base-d));

  @media (min-width: breakpoint(tablet)) {
    padding: rem(30, 50);
  }

  @media (min-width: breakpoint(desktop)) {
    padding: rem(40, 50);
  }
}

.menu-card__inner:focus,
.menu-card__inner:hover {
  box-shadow:
    inset 0 0 0 3px color($main-c, primary),
    0 10px 70px 0 rgba(color($main-c, primary), 0.15);
}

.menu-card__title {
  margin: 0 0 rem(20) 0;
  padding: 0;

  transition: all 0.3s ease-in-out;
  white-space: pre-line;

  @include font-par(font-family(default), font-weight(bold), font-size(h3-m), normal, color($base-c, white), font-lh(root));

  @include fluid-type(font-size(h3-m), font-size(h3-t));

  @media (min-width: breakpoint(tablet)) {
    margin-bottom: rem(80);
  }
}

.menu-card__button {
  align-self: center;
}
.menu-card__image {
  width: auto;
  height: 100%;
  max-width: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 3px;
  opacity: 0.1;
}
