.footer-copyright {
  padding: 0;
  margin: 0 0 rem(20);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  text-overflow: clip;

  @include font-par(font-family(default), font-weight(normal), font-size(root), normal, color($base-c, white), font-lh(root));

  @include fluid-type(font-size(root), font-size(root));

  @media (min-width: breakpoint(tablet)) {
    margin: 0 0 rem(30);
  }
}
