.feedback {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: color($main-c, background);

  @media (min-width: breakpoint(tablet)) {
    height: 100vh;
    width: 100%;
  }
}

.feedback__inner {
  padding: rem(35, 30);
  margin: 0 auto;

  @media (min-width: breakpoint(tablet)) {
    padding: rem(50, 50);
  }

  @media (min-width: breakpoint(desktop)) {
    padding: rem(70, 50);
    max-width: 1150px;
  }
}

.feedback__title {
  margin: 0 0 0.5em 0;
  padding: 0;

  white-space: pre-line;

  @include font-par(font-family(default), font-weight(bold), font-size(h2-m), normal, color($base-c, white), font-lh(root));

  @include fluid-type(font-size(h2-m), font-size(h2-d));

  @media (min-width: breakpoint(desktop)) {
    margin-bottom: rem(50);
  }
}

.feedback__form {
  margin: 0;
  padding: 0;
}
