.feedback {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: color($main-c, background);

  @media (min-width: breakpoint(tablet)) {
    min-height: 100vh;
    width: 100%;
  }
}

.feedback__inner {
  position: relative;
  padding: rem(35, 30);
  margin: 0 auto;

  @media (min-width: breakpoint(tablet)) {
    padding: rem(50, 50);
  }

  @media (min-width: breakpoint(desktop)) {
    padding: rem(70, 50);
    max-width: 1150px;
  }
}

.feedback__inner::before {
  content: '';
  position: absolute;
  width: 300px;
  height: 300px;
  top: 5%;
  right: rem(30);
  opacity: 0;
  background-image: url("../img/svg/abstract-pattern.svg");
  background-repeat: no-repeat;
  background-size: 300px 300px;
  transition: all 0.3s ease-in-out;

  @media (min-width: breakpoint(tablet)) {
    opacity: 1;
  }

  @media (min-width: breakpoint(desktop)) {
    opacity: 1;
  }
}

.feedback__title {
  text-align: center;
  margin: 0 0 0.5em 0;
  padding: 0;
  z-index: z-index(default);
  position: relative;
  white-space: pre-line;

  @include font-par(font-family(default), font-weight(bold), font-size(h2-m), normal, color($base-c, white), font-lh(root));

  @include fluid-type(font-size(h2-m), font-size(h2-d));

  @media (min-width: breakpoint(tablet)) {
    text-align: left;
    margin-bottom: rem(50);
  }
}

.feedback__subtitle {
  margin: 0 0 0 rem(12);
  padding: rem(5, 10);
  position: relative;
  z-index: z-index(default);

  white-space: pre-line;

  @include font-par(font-family(default), font-weight(bold), font-size(h3-m), normal, color($base-c, white), font-lh(root));

  @include fluid-type(font-size(h3-m), font-size(h3-d));

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: color($main-c, primary);
    z-index: -1;
  }
}

.feedback__form {
  margin: 0;
  padding: 0;
}
