.main-header {
  background-color: color($base-c, black);
  margin: 0;
  padding: 0;
  position: relative;
}

.main-header__inner {
  margin: 0;
  padding: rem(30, 30);
  display: flex;
  justify-content: space-between;
  min-height: rem(80);
}

.main-header__call {
  margin: 0;
  padding: 0;
}

.main-logo:focus,
.main-logo:hover {
  .main-header__call-svg {
    @include opacity(0.6);
  }
}


.main-header__call-svg {
  fill: color($main-c, primary);
  color: color($main-c, primary);
}
