.main-logo {
  position: absolute;
  top: 60%;
  left: 50%;
  z-index: z-index(logo);
  display: block;
  transform: translate(-50%, -50%);

  @media (min-width: breakpoint(tablet)) and (max-width: breakpoint(tablet-top)) {
    position: static;
    top: 0;
    left: 0;
    padding-top: 0;
    padding-right: 2px;
    transform: translate(0, 0);
  }

  @media (min-width: breakpoint(desktop)) {
    @include centerer(null, null, both);
  }

  &::after {
    @include pseudo-ie11-fix();
  }
}

.main-logo:focus,
.main-logo:hover {
  .main-logo__svg {
    @include opacity(0.6);
  }
}

.main-logo:active {
  .main-logo__svg {
    @include opacity(0.3);
  }
}

.main-logo__svg {
  display: block;
  width: 110px;
  height: 110px;
  color: color($main-c, primary);
  fill: color($main-c, primary);

  @media (min-width: breakpoint(tablet)) {
    width: 148.03px;
    height: 198.34px;
  }
}
