.main-logo {
  margin: 0;
  padding: 0;

  &::after {
    @include pseudo-ie11-fix();
  }
}

.main-logo:focus,
.main-logo:hover {
  .main-logo__svg {
    @include opacity(0.6);
  }
}

.main-logo:active {
  .main-logo__svg {
    @include opacity(0.3);
  }
}

.main-logo__svg {
  display: block;
  width: 110px;
  height: 110px;
  color: color($main-c, primary);
  fill: color($main-c, primary);

  @media (min-width: breakpoint(tablet)) {
    width: 248.63px;
    height: 120px;
  }

  @media (min-width: breakpoint(desktop)) {
    width: 148.03px;
    height: 198.34px;
  }
}
