.main-logo {
  margin: 0;
  padding: 0;
  cursor: pointer;

  &::after {
    @include pseudo-ie11-fix();
  }
}

.main-logo--sticky {
  @media (min-width: breakpoint(desktop)) {
    transform: translate(-50%, -50%) scale(0.5);
  }
}

.main-logo:focus,
.main-logo:hover {
  .main-logo__svg {
    @include opacity(0.7);
  }
}

.main-logo:active {
  .main-logo__svg {
    @include opacity(0.5);
  }
}

.main-logo__svg {
  display: block;
  width: 60px;
  height: 60px;
  transition: all 0.3s ease-in-out;
}
