$before-deg: 45deg;
$after-deg: 135deg;
$animation-duration: 0.8s;

@keyframes navbarBackground {
  100% {
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }
}

@keyframes outBefore {
  50% {
    transform: translateY(0) rotate(0);
  }
  100% {
    transform: translateY(0) rotate($before-deg);
  }
}

@keyframes outAfter {
  50% {
    transform: translateY(0) rotate(0);
  }
  100% {
    transform: translateY(0) rotate($after-deg);
  }
}

@keyframes inBefore {
  50% {
    transform: translateY(0) rotate(0);
  }
  100% {
    transform: translateY(0) rotate($before-deg);
  }
}

@keyframes inAfter {
  50% {
    transform: translateY(0) rotate(0);
  }
  100% {
    transform: translateY(0) rotate($after-deg);
  }
}

@keyframes outMain {
  100% {
    background: transparent;
  }
}

@keyframes inMain {
  100% {
    background: transparent;
  }
}

.hamburger-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: breakpoint(tablet)) {
    display: none;
  }

  &::before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    z-index: z-index(navbar-background);
    width: 100px;
    height: 100px;
    direction: rtl;
    background-color: red;
    border-radius: 0 0 0 50%;
  }
}

.hamburger-button:focus,
.hamburger-button:hover {

  &::before {
    animation-name: navbarBackground;
    animation-duration: $animation-duration;
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }
}

.hamburger-button--close {
  .hamburger-button__icon {
    animation-name: inMain;
    animation-duration: $animation-duration;
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }

  .hamburger-button__icon::before {
    animation-name: inBefore;
    animation-duration: $animation-duration;
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }

  .hamburger-button__icon::after {
    animation-name: inAfter;
    animation-duration: $animation-duration;
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }
}

.hamburger-button__icon {
  position: relative;
  z-index: z-index(hamburger);
  display: block;
  width: 100%;
  height: 2px;
  background-color: color($main-c, primary);
  animation-name: outMain;
  animation-duration: $animation-duration;
  animation-direction: reverse;
  animation-fill-mode: backwards;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: color($main-c, primary);
    transform-origin: 50% 50%;
    animation-duration: $animation-duration;
    animation-direction: reverse;
    animation-fill-mode: backwards;
  }

  &::before {
    transform: translateY(-10px);
    animation-name: outBefore;
  }

  &::after {
    transform: translateY(10px);
    animation-name: outAfter;
  }
}
