.js-scroll-top {
  display: flex;
  background-color: color($main-c, primary);
  opacity: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  border-radius: 50px;
  z-index: z-index(logo);

  &:focus,
  &:hover {
    background-color: color($main-c, accent);
  }

  &:active {
    opacity: 0.8;
    transform: translateY(5px);
  }
}

.js-scroll-top__svg {
  color: color($base-c, black);
  fill: color($base-c, black);
}
