.main-footer {
  background-color: color($main-c, header);
}

.main-footer__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  margin: 0 auto;
  padding: rem(30);

  @media (min-width: breakpoint(tablet)) {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    min-height: rem(150);
    padding: rem(50);
  }

  @media (min-width: breakpoint(desktop)) {
    width: auto;
    max-width: 1150px;
    padding: rem(45px);
  }
}

.main-footer__logo {
  position: relative;
  display: none;

  @media (min-width: breakpoint(tablet)) {
    position: static;
    top: 0;
    left: 0;
    display: block;
    padding-top: 0;
    padding-right: 2px;
    padding-bottom: 7px;
    transform: translate(0, 0);
  }

  @media (min-width: breakpoint(desktop)) {
    margin-left: 1px;
  }

  &::after {
    @include pseudo-ie11-fix();
  }
}

.main-footer__logo:focus,
.main-footer__logo:hover {
  .main-footer__logo-svg {
    color: color($main-c, accent);
    fill: color($main-c, accent);
  }
}

.main-footer__logo:active {
  .main-footer__logo-svg {
    color: rgba(color($main-c, accent), 0.3);
    fill: rgba(color($main-c, accent), 0.3);
  }
}

.main-footer__logo-svg {
  display: none;

  @media (min-width: breakpoint(tablet)) {
    display: block;
    color: color($base-c, svg);
    fill: color($base-c, svg);
  }
}
