.gallery {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: color($main-c, background);
  background-image: url("../img/svg/note-pattern.svg");
  background-repeat: repeat;
  background-size: 100px;
}

.gallery__inner {
  padding: rem(35, 30);
  margin: 0 auto;

  @media (min-width: breakpoint(tablet)) {
    padding: rem(50, 50);
  }

  @media (min-width: breakpoint(desktop)) {
    padding: rem(70, 50);
    max-width: 1150px;
  }
}

.gallery__title {
  margin: 0 0 0.7em 0;
  padding: 0;

  white-space: pre-line;

  @include font-par(font-family(default), font-weight(bold), font-size(h2-m), normal, color($base-c, white), font-lh(root));

  @include fluid-type(font-size(h2-m), font-size(h2-d));

  @media (min-width: breakpoint(desktop)) {
    margin-bottom: rem(50);
  }
}


.gallery__list {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  flex-basis: auto;
  flex-wrap: wrap;
  justify-content: center;
  background-color: transparent;

  @include clear-list();

  margin-bottom: rem(15);

  @include font-par(font-family(default), font-weight(normal), font-size(base-m), normal, color($base-c, white), font-lh(root));

  @include fluid-type(font-size(base-m), font-size(base-d));

  @media (min-width: breakpoint(tablet)) {
    margin-bottom: rem(30);
  }

  @media (min-width: breakpoint(desktop)) {
    margin-bottom: rem(35);
  }
}

.gallery__item {
  position: relative;
  margin: 0 15px 15px 0;
  padding: 0;
  width: 150px;
  height: 150px;
  transition: 0.5s ease-in-out;

  &:focus,
  &:hover {
    transform: translateY(5px);
  }
}


.gallery__figure {
  margin: 0;
  padding: 0;
}

.gallery__link {
  margin: 0;
  padding: 0;
  display: block;
  transition: all 0.3s ease-in-out;

  &::after {
    visibility: hidden;
    opacity: 0;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(color($main-c, primary), 0.5);
    transition: all 0.3s ease-in-out;
    z-index: 1;
  }
}

.gallery__link:focus,
.gallery__link:hover {
  &::after {
    opacity: 1;
    visibility: visible;
  }
}

.gallery__image {
  display: block;
  margin: 0;
  padding: 0;
  height: 100%;
  width: auto;
}

.gallery__button {
  max-width: 100%;
  width: 100%;

  @media (min-width: breakpoint(tablet)) {
    max-width: 320px;
    margin: 0 auto;
  }
}
