.gallery {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: color($main-c, background);
}

.gallery__inner {
  padding: rem(35, 30);
  margin: 0 auto;

  @media (min-width: breakpoint(tablet)) {
    padding: rem(60, 50);
  }
}

.gallery__title {
  margin: 0;
  padding: 0;

  white-space: pre-line;

  @include font-par(font-family(montserrat), font-weight(bold), font-size(h2-m), normal, color($main-c, primary), 1.5);

  @include fluid-type(font-size(h2-m), font-size(h2-d));
}
