.promo {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: color($main-c, background);

  @media (min-width: breakpoint(tablet)) {
    height: 100vh;
    width: 100%;
  }
}

.promo__container {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;

  @media (min-width: breakpoint(tablet)) {
    height: 100%;
  }
}

.promo__inner {
  display: flex;
  flex-direction: row;

  @media (min-width: breakpoint(tablet)) {
    height: 100%;
  }
}
