// --- BASE STYLES ---

html {
  box-sizing: border-box;
  font-size: font-size(root);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

@include font-face(Muller, "../fonts/", mullerregular, normal, 400, swap, null, null, (woff2: woff2, woff: woff));

@include font-face(Muller, "../fonts/", mullermedium, normal, 500, swap, null, null, (woff2: woff2, woff: woff));

@include font-face(Muller, "../fonts/", mullerbold, normal, 700, swap, null, null, (woff2: woff2, woff: woff));

