// --- BASE STYLES ---

html {
  box-sizing: border-box;
  font-size: font-size(root);

  @media (min-width: breakpoint(tablet)) {
    font-size: 20px;
  }

  @media (min-width: breakpoint(desktop)) {
    font-size: 30px;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

@include font-face(Montserrat, "../fonts/", montserratregular, normal, 400, swap, null, null, (woff2: woff2, woff: woff));

@include font-face(Montserrat, "../fonts/", montserratmedium, normal, 500, swap, null, null, (woff2: woff2, woff: woff));

@include font-face(Montserrat, "../fonts/", montserratbold, normal, 700, swap, null, null, (woff2: woff2, woff: woff));

@include font-face(Montserrat, "../fonts/", montserratblack, normal, 900, swap, null, null, (woff2: woff2, woff: woff));
