// --- VARIABLES ---

// Z-index

$z-index-logo: 5 !default;
$z-index-dropdown: 10 !default;
$z-index-navbar-background: 15 !default;
$z-index-navbar: 20 !default;
$z-index-hamburger: 30 !default;
$z-index-tooltip: 50 !default;
$z-index-modal-background: 60 !default;
$z-index-modal: 70 !default;
$z-index-gallery: 1500 !default;

$z-index: (
  logo: $z-index-logo,
  dropdown: $z-index-dropdown,
  navbar-background: $z-index-navbar-background,
  navbar: $z-index-navbar,
  hamburger: $z-index-hamburger,
  tooltip: $z-index-tooltip,
  modal-background: $z-index-modal-background,
  modal: $z-index-modal,
  gallery: $z-index-gallery
);

// Breakpoints

$screen-xs: 0 !default;
$screen-sm: 320px !default;
$screen-md: 768px !default;
$screen-lg: 992px !default;
$screen-xl: 1150px !default;
$screen-xxl: 1800px !default;

$container-sm: 100% !default;
$container-md: 100% !default;
$container-lg: ($screen-lg - 30) !default;
$container-xl: ($screen-xl - 30) !default;
$container-xxl: ($screen-xxl - 30) !default;

$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;

$breakpoints: (
  mobile: $screen-xs,
  mobile-top: $screen-sm,
  tablet: $screen-md,
  tablet-top:  ($screen-xl - 1),
  desktop: $screen-xl
);

// Colors

$grey: #f1f1f1 !default;
$grey--light: #f9f9f9 !default;
$grey--lighten: #fdfdfd !default;
$grey--dark: #ececec !default;
$grey--darker: #e5e5e5 !default;
$grey--darken: #cccccc !default;
$grey--darkest: #444444 !default;

$grey-c: (
  default: $grey,
  light: $grey--light,
  lighten: $grey--lighten,
  dark: $grey--dark,
  darker: $grey--darker,
  darken: $grey--darken,
  darkest: $grey--darkest
);

$base-c: (
  black: #000000,
  white: #ffffff,
  svg: #231f20
);

$primary-color: #ffda00 !default;
$secondary-color: map-get($base-c, white) !default;
$background-color: #060606 !default;
$pattern-color: #0f0f0f !default;
$accent-color: #fff000 !default;
$success-color: #39b54a !default;
$warning-color: #f9c301 !default;
$danger-color: #f43f3b !default;
$info-color: #0074e6 !default;

$main-c: (
  primary: $primary-color,
  secondary: $secondary-color,
  background: $background-color,
  pattern: $pattern-color,
  accent: $accent-color,
  success: $success-color,
  warning: $warning-color,
  danger: $danger-color,
  info: $info-color
);

$brand-color--facebook: #3b5998;
$brand-color--github: #333333;
$brand-color--google: #dc4e41;
$brand-color--instagram: #3f729b;
$brand-color--linkedin: #0077b5;
$brand-color--medium: #00ab6b;
$brand-color--messenger: #0084ff;
$brand-color--rss: #f26522;
$brand-color--spotify: #2ebd59;
$brand-color--twitter: #55acee;
$brand-color--telegram: #0088cc;
$brand-color--vk: #45668e;

$brand-c: (
  facebook: $brand-color--facebook,
  github: $brand-color--github,
  google: $brand-color--google,
  instagram: $brand-color--instagram,
  linkedin: $brand-color--linkedin,
  medium: $brand-color--medium,
  messenger: $brand-color--messenger,
  rss: $brand-color--rss,
  spotify: $brand-color--spotify,
  twitter: $brand-color--twitter,
  telegram: $brand-color--telegram,
  vk: $brand-color--vk
);

// Static fonts

$font-weights: (
  thin: 100,
  extra-light: 200,
  ultra-light: 200,
  light: 300,
  normal: 400,
  book: 400,
  regular: 400,
  medium: 500,
  semi-bold: 600,
  demi-bold: 600,
  bold: 700,
  extra-bold: 800,
  ultra-bold: 900,
  heavy: 900,
  black: 900,
  ultra: 900,
  ultra-black: 900,
  extra-ultra: 900
);

$font-size--xxxx-large: 79px !default;
$font-size--xxx-large: 56px !default;
$font-size--xx-large: 40px !default;
$font-size--x-large: 28px !default;
$font-size--large: 20px !default;
$font-size--regular: 19px !default;
$font-size--small: 18px !default;
$font-size--smaller: 17px !default;
$font-size--smallest: 16px !default;
$font-size--root: 15px !default;

$font-sizes: (
  root: $font-size--root,
  base-m: $font-size--smallest,
  base-t: $font-size--smaller,
  base-d: $font-size--small,
  h1-m: $font-size--xx-large,
  h1-t: $font-size--xxx-large,
  h1-d: $font-size--xxxx-large,
  h2-m: $font-size--x-large,
  h2-t: $font-size--xx-large,
  h2-d: $font-size--xxx-large,
  h3-m: $font-size--large,
  h3-t: $font-size--x-large,
  h3-d: $font-size--xx-large,
  other: $font-size--small,
  other-l: $font-size--large
);

$font-line-height: (
  root: 1.5,
  base: 20px,
  base-md: 24px,
  base-l: 30px,
  title: 30px,
  title-md: 50px,
  title-l: 57px
);

$font-stack: (
  montserrat: ("Montserrat", arial, sans-serif)
);
